{% extends "index.html" %}

{% block title %}Index{% endblock %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static',filename='css/all_article.css') }}">
{% endblock %}

{% block main_content %}
<!-- article list -->
<div class="all-article">
    <h1>我的所有文章<span class="badge badge-pill badge-default">{{articles|length}}</span></h1>
    <ul>
        {% for article in articles %}
        <li>
            <span class="creat-tiem">{{article.creat_time.strftime("%Y年%m月%d日")}}&nbsp(周一)</span>
            <span class="article-title"><a href="{{url_for('main.article_detail',id=article.id)}}">{{article.title}}</a></span>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
