{% extends "index.html" %}

{% block title %}Index{% endblock %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/article_detail.css')}}">
{% endblock %}

{%block nav%}
<!-- 路径导航 -->
<ol class="breadcrumb">
  <li><a href="/"><span class="glyphicon glyphicon-home"></span>Home</a></li>
  <li><a href="/detail/{{article.id}}" style="color:#337ab7">{{article.title}}</a></li>
</ol>
{%endblock%}

{% block main_content %}
<!-- articles in there -->
<div id="article_detail">
    <div class="article">
        <div class="article_head">
            <div class="pinglunshu">
                <span class="glyphicon glyphicon-apple"></span>{{comments|length}}
            </div>
            <div class="article_title">
                <a href="{{url_for('main.article_detail',id=article.id)}}">
                {{article.title}}</a></div>
            <div class="article_time">
                <span class="glyphicon glyphicon-calendar"></span>
                {{article.creat_time.strftime("%Y-%m-%d")}}</div>
            <div class="articletags">
              {% for tag in article.tags %}
              <li class="article_tag"><span class="glyphicon glyphicon-tag"></span>{{tag.name}}</li>
              {% endfor %}
            </div>
        </div>
        <div class="article_body">
            <iframe onload="changeFrameHeight()" src="{{url_for('main.subiframe',id=article.id)}}" marginheight="0" marginwidth="0" \
                id="mdiframe" scrolling="yes" frameborder="0" width="100%" height="600px">
            </iframe>
        </div>
    </div>

    <!-- 切换到上、下篇文章 -->
    <div class="switchover">
        <!-- 上一篇文章 -->
        {% if f_article %}
        <a href="{{url_for('main.article_detail',id=f_article.id)}}" class="btn pre">
            <span class="glyphicon glyphicon-arrow-left"></span>
            {{f_article.title}}</a>
        {% endif %}
        <!-- 下一篇文章 -->
        {% if n_article %}
        <a href="{{url_for('main.article_detail',id=n_article.id)}}" class="btn next">
            {{n_article.title}}
            <span class="glyphicon glyphicon-arrow-right"></span></a>
        {% endif %}
    </div>

    <!-- 评论模块 -->
    <div class="comment">
        <!-- 评论输入框 -->
        <div class="form-group">
          <label for="comment">评论:</label>
          <input name="comment" id="comment_content" class="form-control" required="required" placeholder="在这里输入评论内容"></input>
          <br>
          <!-- 判断是否登录 -->
          {%if user%}
          <button id="comment_now" class="btn btn-primary">立即评论</button>
          {%else%}
          <button id="comment_now" disabled="disabled" class="btn btn-primary">登录后评论</button>
          {%endif%}
        </div>

        <!-- 所有评论内容 -->
        <div id="conment-main" class="comment-main">
            <div class="head">
                <span>Comment</span>&nbsp
                <span class="glyphicon glyphicon-send"></span>
                <span>({{comments|length}})</span>
            </div>
            {% if comments %}
                {% for comment in comments %}
                <div class="body">
                    <div class="answer-info">
                        <img class="avatar" src="{{comment.user.avatar_url | default('https://avatars1.githubusercontent.com/u/35909137?s=460&v=4')}}">
                        <span class="username">{{comment.user.username}}</span>
                        <span class="create_time">{{comment.creat_time.strftime("%Y-%m-%d %H:%M:%S")}}</span>
                    </div>
                    <p style="margin-left:50px;margin-top:10px;">{{comment.content}}</p>
                </div>
                {% endfor %}
            {% else %}
                    <div class="body">
                        <p>这里还没有评论＠_＠</p>
                    </div>
            {% endif %}
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
	$("#comment_now").click(function(){
        var comment = $("#comment_content").val();
        var articleid = "{{article.id}}";
        if(comment.length==0){
            alert("评论内容为空");
        }
        else
        {
            $.post("/comment",{
    			comment:comment,
                article_id:articleid
    		},
    		function(data,status){
                location.reload();//页面重载，似乎是在当前位置
    			// alert("数据: \n" + JSON.parse(data).status + "\n状态: " + status);
    		});
        }
	});
});
</script>
<!-- html to markdown 脚本-->
<button id="button">md</button>
<script>
// $(function(){
//     // $("#loadmd").load("{{url_for('main.subiframe',id=article.id)}}");
//     $("#button").click(function(){
//         var div = document.getElementById('mdiframe');
//         alert(div.clientHeight)
// 	});
// });

</script>
{% endblock %}
