{% extends "base.html" %}

{% block title %}login{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
{% endblock %}

{% block content %}
<div class="loginform">
    <br>
    <div class="login_regist">
        <a class="login" href="{{ url_for('main.login') }}">登录</a>
        <a class="regist" href="{{ url_for('main.regist') }}">注册</a>
    </div>
    <br><br>
<form action="" method="post" onsubmit="return validateForm()">
  <div class="form-group">
    <input type="username" class="form-control" required="required" name="username" placeholder="你的昵称">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="pwd" required="required" name="password" placeholder="密码">
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox"> Remember me
    </label>
  </div>
  <div class="loginbtn">
     <button type="submit" class="btn">登录</button>
  </div>
</form>
</div>
<!-- md5加密 -->
<script>
function validateForm(){
    var password = md5($('#pwd').val());
    $('#pwd').val(password);
        return true;
}
</script>
{% endblock %}
